<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
</ion-header>


<ion-content no-padding>

  <div fill-parent bg-color="yellow">

    <h-line height="25px" [nocolor]="true"></h-line>

    <ion-row>
      <ion-col offset-1>
        <img src="assets/img/icon.png"/>
      </ion-col>
      <ion-col col-auto>
        <ion-row>
          <ion-col no-padding text-right>
            <span class="small-label">{{version}}</span>
          </ion-col>
        </ion-row>
        <h-line nocolor></h-line>
        <ion-row text-right class="small-label lang-wrapper"
                 (click)="setAppLang('en')" *ngIf="lang!=='en'">
          <ion-icon name="md-globe" padding-right></ion-icon>
          <span>English version</span>
        </ion-row>
        <ion-row text-right class="small-label lang-wrapper"
                 (click)="setAppLang('zh')" *ngIf="lang!=='zh'">
          <ion-icon name="md-globe" padding-right></ion-icon>
          <span>中文版</span>
        </ion-row>
      </ion-col>
      <ion-col col-1></ion-col>
    </ion-row>

    <p class="title">
      {{'login_.greet'|translate}}
    </p>

    <ion-row align-items-center class="inputfield">
      <ion-col col-2></ion-col>
      <ion-col text-center col-1>
        <ion-icon name="call"></ion-icon>
      </ion-col>
      <ion-col col-7>
        <ion-item no-lines>
          <ion-input type="number" placeholder="{{'phone-num'|translate}}"
                     [(ngModel)]="phone_num"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2></ion-col>
    </ion-row>

    <h-line height="2px"></h-line>

    <div text-right (click)="signup()" padding-vertical>
      <ion-row>
        <ion-col>
          {{'login_.no-account'|translate}}<br>
          <span class="bold">{{'login_.signup'|translate}}</span>
          &nbsp;
          <ion-icon name="arrow-round-forward"></ion-icon>
        </ion-col>
        <ion-col col-1></ion-col>
      </ion-row>
    </div>

  </div>

</ion-content>

<ion-footer>
  <ion-buttons no-margin bg-color="white">
    <button ion-button full no-margin [disabled]="!validate()"
            class="footer-button black-button" (click)="login()">
      {{'button_.login'|translate}}
    </button>
  </ion-buttons>
</ion-footer>
